<div class="user">
    <ul class="info">
        <li class="favCount" (click)="favorite()">
            <i class="fa fa-heart fa-2x" aria-hidden="true"></i> <span>{{storageCount}}</span>
        </li>
        <li><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{userSession}} | <span class="logout" (click)="logout()">Logout</span></li>
    </ul>
</div>