@import '../../../assets/style/variables.scss';
@import '../../../assets/style/mixin.scss';
.user {
    background: $gradiantRed;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: $colorWhite;
    z-index: 9;
    ul {
        list-style: none;
        position: relative;
        width: 100%;
        padding: 10px;
        font-size: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .favCount {
            position: relative;
            span {
                position: absolute;
                top: 6px;
                left: 9px;
                color: #000;
                font-size: .8em;
            }
        }
    }
    .logout {
        cursor: pointer;
    }
}