<app-user></app-user>
<app-search (movie)="searchMovie($event)"></app-search>
<div class="container p-3 containerMovie">
    <div class="card-columns">
        <div class="card" *ngFor="let movie of movies$; let i=index">
            <i class="fa fa-heart" (click)="setFavorites(movie)" aria-hidden="true"></i>
            <img [src]="movie.Poster" [alt]="movie.Poster" (click)="selectMovie(movie)" class="card-img-top">
            <div class="row">
                <div class="col-12">
                    <h3>{{movie.Title}}</h3>
                </div>
                <div class="col-12 movie-info">
                    <span class="year">{{movie.Year}}</span>
                    <span class="type">{{movie.Type}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="more" *ngIf="movies$">
        <i (click)="moreMovies()" class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>
</div>