<app-user></app-user>
<div class="detail">
    <div class="detailsMovie">
        <img [src]="movie.Poster" [alt]="movie.Title">
        <div class="description">
            <h1>{{movie.Title}}</h1>
            <p>{{movie.Plot}}</p>
            <p><span class="actors">Actors:</span> {{movie.Actors}}</p>
        </div>
    </div>
</div>