@import '../../../assets/style/variables.scss';
@import '../../../assets/style/mixin.scss';
.detail {
    max-width: 100%;
    padding: 85px 20px 20px 20px;
    .detailsMovie {
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        background: #fffefe;
        .description {
            padding: 10px;
            box-sizing: border-box;
            h1 {
                font-size: $h1;
                color: #da1e04;
            }
            p {
                width: 50%;
                span {
                    font-weight: bold;
                }
            }
        }
    }
}