@import './variables.scss';
@mixin styleH3 {
    font-size: $h3;
    color: $h3Color;
    padding: 5px;
    margin-bottom: 0 !important;
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        columns: 2;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        columns: 4;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        columns: 5;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        columns: 6;
    }
}