@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$genericFont: Roboto;
$gradiantRed: linear-gradient(135deg,
rgba(248, 80, 50, 1) 0%,
rgba(241, 111, 92, 1) 21%,
rgba(241, 111, 92, 1) 41%,
rgba(240, 47, 23, 1) 100%);
$colorWhite: #fff;
$h1: 2em;
$h2: 1.5em;
$h3: 1em;
$h3Color: #333;
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;