<div class="searchBox">
    <i class="fa fa-search fa-1x" aria-hidden="true"></i>
    <input type="text" (keyup.enter)="getSearch(movie.value)" placeholder="Search your favorite Movie..." #movie>
</div>