@import '../../../assets/style/mixin.scss';
@import '../../../assets/style/variables.scss';
.searchBox {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 9;
    width: 100%;
    box-sizing: content-box;
    background-color: rgba(248, 80, 50, 1);
    input {
        padding: 20px 20px 20px 45px;
        width: 100%;
        border: none;
        font-size: 18px;
        background-color: #f5f2f2;
        outline: 0 none;
    }
    .fa {
        position: absolute;
        top: 25px;
        left: 15px;
    }
}