.loginContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(248, 80, 50, 1);
    .loginForm {
        display: flex;
        flex-direction: column;
        input {
            border: none;
            padding: 10px;
            margin-bottom: 5px;
        }
    }
}