<div class="container-fluid loginContainer">
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <input type="text" formControlName="user" placeholder="User">
        <input type="password" formControlName="pass" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</div>