@import './assets/style/variables.scss';
@import './assets/style/mixin.scss';
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 100%;
    font-family: $genericFont;
}

.containerMovie {
    margin-top: 130px;
    .card-columns {
        @include sm;
        @include md;
        @include lg;
        @include xl;
        .card {
            position: relative;
            border: 1px solid transparent !important;
            .fa {
                font-size: 30px;
                color: red;
                cursor: pointer;
                position: absolute;
                top: 10px;
                left: 10px;
                opacity: 0;
                transition: .5s;
            }
            h3 {
                @include styleH3;
                background: #e1e4e1;
            }
            .movie-info {
                display: flex;
                span {
                    display: block;
                    padding: 5px;
                }
                .type {
                    background-color: #bcc3bc;
                }
                .year {
                    background-color: #c6d2c6;
                }
            }
        }
        .card:hover {
            .fa {
                opacity: 1;
            }
        }
    }
    .more {
        text-align: center;
        font-size: 4em;
        color: #bcc3bc;
        margin-bottom: 50px;
        cursor: pointer;
    }
}