<app-user></app-user>
<div class="container p-3 containerMovie">
    <div class="card-columns">
        <div class="card" *ngFor="let movie of movies; let i=index">
            <img [src]="movie.Poster" [alt]="movie.Poster" (click)="selectMovie(movie)" class="card-img-top">
            <div class="row">
                <div class="col-12">
                    <h3>{{movie.Title}}</h3>
                </div>
                <div class="col-12 movie-info">
                    <span class="year">{{movie.Year}}</span>
                    <span class="type">{{movie.Type}}</span>
                </div>
            </div>
        </div>
    </div>
</div>